<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">

    <input type="hidden" th:field="*{id}" th:value="*{getId()}">

    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/><br/>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/><br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/><br/>

    <button class="btn btn-secondary" type="submit"
            th:href="@{/users/save}"  th:text="*{getId()}? 'Save' : 'Create'"/>

</form>

</body>
</html>